{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css" />
	<title>Zyka</title>
</head>

<body>
	<nav class="top-bar" data-topbar role="navigation">

		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="#">Zyka</a></h1>
		    </li>
		    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		  </ul>

		  <section class="top-bar-section">
			    <!-- Right Nav Section -->
			    <ul class="right">
			      <li class="loginbutton"><a href="#">Login</a></li>
			    </ul>

			    <!-- Left Nav Section -->
			    <ul class="left">
			       <li><input type="text" placeholder="Find Stuff"></li>
			       <li><a href="#" class="alert button expand">Search</a></li>
			    </ul>

		    
		  </section>
</nav>

{% block content%}

{% endblock %}	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
<script src="{% static 'main.js' %}"></script>
<link rel="stylesheet" type="text/css" href="static/main.css">
</body>
</html>